{% extends 'baselayout.html.twig' %}

{% block title %}Home{% endblock %}

{% block main %}

<div style="margin: 200px;"> 
<h1 align='center'> <font size='100' color='white'> Bienvenue chez vous ! </font></h1>
</div>

  
<div class="bouton" onclick="location.href='http://localhost:8000/room/';" alt="Redirection">
  <p>
   <a href="#">Réservez maintenant !</a>
 </p>
</div>



<style>
        {% include "home/style.css" %}
    </style>
 
  {% endblock %}  
