body {
    background-image: url("https://www.10wallpaper.com/wallpaper/1366x768/1712/Beautiful_mountain_lake_reflection_Travel_4K_Ultra_HD_1366x768.jpg");
    background-color: #cccccc;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center center;
    background-size: 1920px 500px;
    background-position-y: 50px;
  }

  