{% extends 'baselayout.html.twig' %}

{% block title %}Edit unavailibility{% endblock %}

{% block main %}
    <h1>Edit unavailibility</h1>

    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}
    
    <div><a href="{{ path('new_unavailibility') }}"> Add an unavailibility period</a></div>

    <a href="{{ path('unavailibilities_index') }}">back to list</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
