textarea{
	width: 400px;
	height: 80px;
	background-color: #fff;
	resize: none;
}

button{
	width: 100px;
	height: 30px;
	background-color: #282828;
	border: none;
	color: #fff;
	font-family: arial;
	font-weight: 400px;
	cursor: pointer;
}

.boxed {
  border: 1px solid black ;
 
}

table {
    border:3px solid #6495ed;
    border-collapse:collapse;
    width:90%;
    margin:auto;
    }
    thead, tfoot {
    background-color:#D0E3FA;
    background-image:url(sky.jpg);
	border:1px solid #6495ed;
    }
    tbody {
    background-color:#FFFFFF;
    border:1px solid #6495ed;
    }
    th {
    font-family:monospace;
    border:1px dotted #6495ed;
    padding:5px;
	background-color:#EFF6FF;
	}	
	th {
		width:100px;
	}